*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
li,
button {
  padding: 0;
  /* background-color: transparent; */
}

input,
button,
textarea,
select {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
} */

video {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  outline: none;
}
/* button:disabled {
  pointer-events: none;
} */
input {
  padding: 8px;
  font: inherit;
  margin-left: 12px;
  margin-right: 12px;
  border: rgba(0, 0, 0, 0.4) 1px solid;
  border-radius: 6px;
  background-color: #fafafa;
  outline: none;
}

/* .search-form > input {
    height: 36px;
    width: 200px;
    padding: 8px;
    border: #141414 1px solid;
    border-radius: 6px;
} */

.search-form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* button {
  padding: 8px 12px;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
} */

.btn-form {
  color: rgba(33, 33, 33, 0.8);
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 6px;
  background-color: rgba(38, 192, 211, 0.8);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

/** =============================================== WRAPPER */

.wrapper-form {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  background-color: rgba(38, 192, 211, 0.8);
  /* border-bottom: #141414 1px solid; */
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
}
/** =============================================== GALLERY */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  max-width: 1366px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-top: 110px;
  gap: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* .gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
} */

/* .gallery__image:hover {
  transform: scale(1.03);
} */

/* .gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
} */

/* .gallery__link:hover {
  transform: scale(1.03);
} */

/* &:hover,
  &:focus {
    transform: scale(1.05);
  } */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
} */

.photo-card {
  width: 320px;
  height: 290px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 20px #dbdbdb;
  position: relative;
}
.photo-card:hover {
  transform: scale(1.05);
}

.gallery__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  /* height: auto; */

  border-radius: 10px 10px 0 0;
  transition: transform var(--animation-duration) var(--timing-function);
}
.info {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  font-size: 14px;
  padding-top: 12px;
}
.info-left,
.info-right {
  flex: 1;
}
.info-left {
  padding-left: 16px;
}

.info-right {
  text-align: start;
  padding-left: 12px;
}

/* input {
    width: 50%;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #F082AC;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #F082AC;
} */

/* input::placeholder {
    color: #F082AC;
} */

/* button {
    border-radius: 8px;
    border-style: none;
    color: #F082AC;
    cursor: pointer;
    height: 40px;
    padding: 10px 16px;
} */

/** =============================================== BTN-UP */

/* background: '#26c0d3',
    textColor: '#fff',
    childClassName: 'notiflix-notify-info',
    notiflixIconColor: 'rgba(0,0,0,0.2)',
    fontAwesomeClassName: 'fas fa-info-circle',
    fontAwesomeIconColor: 'rgba(0,0,0,0.2)',
    backOverlayColor: 'rgba(38,192,211,0.2)', */

.btn-up {
  /* font-size: 40px;
  color: #ffdd00; */

  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);

  visibility: hidden;
  /* opacity: 0.8; */

  position: fixed;
  z-index: 3;
  bottom: 100px;
  right: 20px;
  transform: translateX(100px);

  width: 120px;
  height: 60px;

  background-color: rgba(38, 192, 211, 0.8);
  /* border-radius: 50%; */
  border-radius: 50px 10px;
  /* border: #141414 1px solid; */
  border: transparent;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn-up.hidden:is(:hover, :focus) {
  /* background-color: #00bde7; */

  background-color: rgba(38, 192, 211, 0.9);
  color: rgba(255, 255, 255, 0.9);

  /* box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 6px 12px #dbdbdb; */
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);

  border: none;
}

/* .notiflix-notify:hover {
  opacity: 1;
} */
